@import url('https://fonts.googleapis.com/css?family=Rokkitt:100,200,300,400,500,600,700,800,900&display=swap');
*{
    transition:all 0.1s ease-in-out;
    margin:0px;
    padding:0px;
}
/*Body*/
article, section header, .agenda footer p, footer section:nth-child(2){
    width: 90%;
    margin: auto;
}
section{
    margin-bottom: 50px;
    margin-top:15px;
}
body{
    color: #fff;
    background: #000000;
    font-weight: 200;
    font-family: 'Rokkitt', serif;
}
.amg-button{
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    padding: 5px 13px;
    text-decoration: none;
    border: 1px solid #d9252b;
    background-color: #d9252b;
    display: inline-block;
    font-weight: 200;
    margin: 10px 0px;
}
main{
    display:block;
}
a:visited {
    color: inherit;
}
img, video{
    width:100%;
    height: auto;
}

.amg-lijn{
    margin: 5px 0px;
    display: block;
    width: 40px;
    height: 1px;
    border: none;
    background: #d9252b;
}
#slide2,#slide3{
    display:none;
}
.amg-button-wit{
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    border: 1px solid white;
    background-color: #000000;
    display: inline-block;
    font-weight: 200;
    margin: 10px 0px;
}

footer section:nth-child(1){
    background: linear-gradient(to bottom, #262626 0%, #171717 100%);
}
/*Tekst*/
.intro h1 {
    font-weight: 200;
    margin:15px 0px;
}
h2{
    font-weight: 200;
    margin:15px 0px;
}
h3{
    font-weight: 200;
    margin:15px 0px;
}
p{
    font-weight: 100;
}
.intro h1{
        font-size:2.6em;
}
p.beschrijving a{
    color:white;
    cursor: pointer;
}
.vehicles p{
    color: #a8a8a8;
    text-align: left;
    font-size:14px;
}
.vehicles p a{
    color:white;
    cursor: pointer;
}
section.verbruik{
    color:#e8e8e8;
    text-align: left;
    font-style: italic;
}
.wit{
    color:white;
    font-weight: bold;
}
p.beschrijving {
    color: #a8a8a8;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
}
section.agenda p:nth-child(2) {
    color: #adadad;
    FONT-WEIGHT: 100;
}
footer section:nth-child(2) p{
    margin: 10px 0px;
}
footer section:nth-child(1) a{
    text-decoration: none;
}
footer section:nth-child(2) a{
    color: white;
}
/*Footer*/
footer section:nth-child(2){
    font-size:14px;
}
footer section ul:nth-child(3) li:after {
    content: " | ";
    margin: 0 15px;
}
footer section{
    color:#999999;
    margin-bottom: 0px!important;
}
footer section:nth-child(1) ul li{
    display: inline-block;
}
footer section:nth-child(1){
    background: linear-gradient(to bottom, #262626 0%, #171717 100%);
    padding: 0 5%;
}
footer section:nth-child(1) ul{
    padding: 20px 0;
    text-align: center;
    margin: auto;
    display: inline-block;
}
footer section:nth-child(1) ul li{
    display: inline-block;
}
 footer section ul:nth-child(1){
    float: left;
    text-align: left;
}
footer section ul:nth-child(2){
    font-size: 30px;
    color: #999999;
    text-align: right; 
}
footer section ul:nth-child(3){
    color: #999999;
    text-align: right; 
}
/*Tekst*/
footer section:nth-child(2){
    font-size: 14px;
    color: #999999;
    padding: 30px 5%;
    display: inline-block;
}
@media screen and (min-width: 1280px){
    .slidefoto{
        display:none;
    }
    .iconburger{
        display: none;
    }
    /*Navbar*/
    header.topnav {
        height: 100px;
        width: 78%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    header nav{
        margin: auto 0;
    }
    header #logo{
        width: 178px;
        height: 55px;
        margin: auto 0;
    }
    header nav a{
        padding: 7px 10px 7px 27px;
        color: #e5edf4;
        text-decoration: none;
        text-align: right;
        font-weight: 200;
    }  
    header nav a:hover{
        background-color: #d9252b;
        border-bottom: 5px solid red;
    }
    header nav ul:first-child a:first-child{
       color: #a8a8a8;
       font-size:14px;
    }
    nav ul{
        list-style: none;
        cursor: default;
        justify-content: flex-end;
        display: flex;
        margin: 15px 0px;
    }
    /**/

    /*main*/
    .intro{
        background-image: url("../images/mercedes-header-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 80vh;
    }
    .gradient{
        background:linear-gradient(#000, transparent 150px, transparent calc(100% - 150px), #000);
        height:80vh;
        padding-top:35px;
    }
    .intro article{
        background: rgba(0, 0, 0, 0.7);
        margin-top: 15px;
        margin-left: 150px;
        width: 460px;
        padding:14px;
    }
    .intro h1{
        line-height: 48px;
        margin: 20px 0px;
        font-weight: 200;
    }
 
    .intro p{
        font-size:18px;
        margin-top:15px;
    }

    .amg-button{
        border: none;
        border-radius: 1px;
        color: #fff;
        cursor: pointer;
        padding: 10px;
        text-decoration: none;
        border: 1px solid #d9252b;
        background-color: #d9252b;
        display: inline-block;
        font-weight: 200;
    }
    .amg-button:hover{
        border: 1px solid #d9252b;
        background-color: #d9252b;
        box-shadow: 0 0 16px 0 #d9252b;
    }
}
@media screen and (max-width: 1280px){
    header.topnav span{
        margin-left:8px;
        font-size: 14px;
        color: #a8a8a8;
    }
    header.topnav {
        height: 80px;
        width: auto;
        display: flex;
        align-items: center;
        margin-left:25px;
    }
    nav#mijnlinks {
        display: none;
        border-top: 6px solid #d9252b;
        font-size: 17px;
        position: fixed;
        top: 80px;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        background-color:#1f1f1f;
    }
    nav#mijnlinks ul{
        list-style:none;
    }
    nav#mijnlinks ul li a{
        color:white; 
        display: block;
        padding: 14px 31px;
        border-bottom: 1px solid #3c3c3c;
        text-decoration: none;
    }
    div.onderelkaar{
        width: 30%;
        text-align: end;
        margin-right: 35px;
        height: 100%;
        flex: auto;
    }
    ul.iconmenu{
        margin-top: 10px;
        vertical-align: top;
    }
    ul.iconmenu li{
        display: inline-block;
        margin-left: 30px;
        vertical-align: top;
        font-size:20px;
        color:#a8a8a8;
    }
    div.userdeel{
        -webkit-transform: skewX(-23deg);
        transform: skewX(-23deg);
        border-left: 2px solid red;
        height: 80px;
        width: 50px;
    }
    .userdeel i{
        -webkit-transform: skewX(23deg);
        transform: skewX(23deg);
        font-size:30px;
    }
    .userdeel a{
        margin: 29px 15px;
        display: block;
    }
    header nav{
        margin: auto 0;
    }
    header #logo{
        width: 141px;
        height: 100%;
        margin: auto 0;
        float:left;
    }  
    .iconburger{
        font-size:20px;
        vertical-align:super;
    }
    .iconburger i{
        margin-top:15px;
    }
    #mijnlinks a:hover {
        background-color: #ddd;
        color: red;
    }
    
    .agenda{
        margin-bottom: 10px!important;
    }
    .agenda-items p{
        font-weight:100;
    }
    .agenda-items article p,.agenda-items article h3{
        width: 90%;
        display: inline-block;
        margin-right: 10px;
    }
    
    .agenda-items article{
        border-top: 1px solid #494949;
        padding-top: 30px;
        padding-bottom: 30px
    }
   
    
}
@media screen and (min-width: 1023px){

    .vehicles, .about-amg{
        grid-template-columns: repeat(4, minmax(25%, 1fr) )!important;
    }
    .vehicles header,.about-amg header{
        grid-row: 1;
    }
    .vehicles article, .about-amg article{
        grid-row: 2;
    }
    article, section header, .agenda footer p, footer section:nth-child(2){
        width: 80%;
        margin: auto;
    }
    .agenda{
        width:80%;
        margin: auto;
        display: block;
    }
    .schuinvlak{
        position: absolute;
        width: 468px;
        height: 77%;
        background: rgba(0, 0, 0, 0.7);
        -webkit-transform: skew(-36deg);
        transform: skew(-36deg);
        -webkit-transform-origin: top;
    }
    .schuinvlak p, .schuinvlak hr, .schuinvlak a, .schuinvlak h2 {
        -webkit-transform: skew(36deg);
        transform: skew(36deg);
        -webkit-transform-origin: top;
        max-width: 300px;
    }
    footer section:nth-child(1){
        display: flex;
    }
    footer section ul{
        width: auto;
    }
    .agenda-items{
        display: grid;
        grid-column-gap: 15px;
        grid-template-columns: repeat(4, minmax(25%, 1fr) );
        padding: 0 10%;
    }
    .agenda-items article{
        margin: unset;
        width: 100% ;
    }
    
}
@media screen and (max-width:1022px){
    .schuinvlak{
        padding: 25px 0px;
        width: 80%;
        margin: auto;
    }
    footer section ul:nth-child(1){
        width: 50%;
        float: left;
        text-align: left;
        display: inline-block;
    }
    footer section ul:nth-child(2){
        font-size: 30px;
        color: #999999;
        width: 50%;
        float: left;
        text-align: right; 
        display:inline-block;
    }
    footer section ul:nth-child(3) {
        color: #999999;
        text-align: center;
        width: 100%;
    }
    .agenda-items article{
        display: grid;
        grid-column-gap: 15px;
        grid-template-columns: repeat( auto-fit, minmax(25%, 1fr) );
    }
    .agenda-items img{
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    .agenda-items article h3, .agenda-items article p{
        grid-column: 2 / span 2;
    }
    .agenda-items a{
        grid-column: 4;
        margin: auto;
        grid-row: 1 / span 2;
        font-size: 30px;
        text-decoration: none;
    }
    /* Alles */
    .grijs{
        background-color: #202020;;
    }
    /*header*/
    /*main*/
    /*Footer*/ 
}
@media screen and (min-width:767px){
    .about-amg article{
        margin: unset;
    }
    .agenda .amg-button-mobile{
        display: none;
    }
    .vehicles, .about-amg{
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap:30px;
        grid-template-columns: repeat(2, minmax(50%, 1fr) );
        padding: 0 10%;
    }
    .vehicles header,.about-amg header{
        grid-column: 1 / span 2;
    }
    .vehicles article,.vehicles header, .about-amg article, .about-amg header{
        width: 100%;
    }
}
@media screen and (max-width: 766px){

    .agenda h2{
        width: 85%;
        display: inline-block;
    }
    /*HEADER*/
    header.topnav span{
        display: none;
    } 
    /**/
    /*MAIN*/
    .agenda-items img{
        display: none;
    }
    .agenda .amg-button-mobile{
        display: inline-block;
        border: none;
        border-radius: 1px;
        color: #fff;
        cursor: pointer;
        padding: 0px 10px;
        text-decoration: none;
        border: 1px solid #d9252b;
        background-color: #d9252b;
        font-weight: 200;
        margin: 10px 0px;
        font-size: 35px;
    }

    .agenda-items article .amg-button-mobile{
        display: inline-block;
        border: none;     
        margin: 10px 0px;
        font-size: 30px;
        vertical-align: top;
        margin: auto;
        text-decoration: none;
    }
    .agenda .amg-button{
        display: none;
    }
    .slidefoto{
        width: 100%;
        height: auto;
    }
    .agenda header{
        width: 90%;
        margin: auto;
        padding: 15px 0px;
    }
    .agenda{
        background-color: #202020;
    }
    .agenda img{
        margin-top: 20px;
    }
    
    .intro h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 200;
        margin:15px 0px;
    }
    h2{
        font-size: 25px;
        line-height: 25px;
        font-weight: 200;
        margin:15px 0px;
    }
    h3{
        font-size: 20px;
        line-height: 20px;
        font-weight: 200;
        margin:15px 0px;
    }
}
@media screen and (max-width: 480px){
    footer section:nth-child(1){
        background: linear-gradient(to bottom, #262626 0%, #171717 100%);
    }
    footer section:nth-child(1) ul{
        padding: 30px 0;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    footer section:nth-child(1) ul li{
        display: inline-block;
    }
    footer section ul:nth-child(2){
        font-size: 30px;
        color: #999999;
        border-bottom: 1px solid #494949;
    }
     footer section ul:nth-child(1){
        border-bottom: 1px solid #494949;
    }
    /*Tekst*/
    footer section:nth-child(2){
        font-size:14px;
        color:#999999;
    }
    footer section:nth-child(2) p{
        margin: 10px 0px;
    }
    footer section:nth-child(2) a{
        color: white;
    }
}
@media screen and (max-width: 355px){
    ul.iconmenu li {
    margin-left: 15px;
    }
    div.onderelkaar {
    margin-right: 20px;
    }
}