@import url('https://fonts.googleapis.com/css?family=Rokkitt:100,200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/*Body*/
article,
section header,
main > section:nth-of-type(4) footer p,
footer section:nth-child(2) {
    width: 90%;
    margin: auto;
}

section {
    margin-bottom: 50px;
    margin-top: 15px;
}

body {
    display: none;
    
    color: #fff;
    background: #000000;
    font-weight: 200;
    font-family: 'Rokkitt', serif;
}

.amg-button {
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    padding: 5px 13px;
    text-decoration: none;
    border: 1px solid #d9252b;
    background-color: #d9252b;
    display: inline-block;
    font-weight: 200;
    margin: 10px 0px;
}

main {
    display: block;
}

a:visited {
    color: inherit;
}

a:hover {
    color: #d9252b !important;
}

img,
video {
    width: 100%;
    height: auto;
}

hr {
    margin: 5px 0px;
    display: block;
    width: 40px;
    height: 1px;
    border: none;
    background: #d9252b;
}

#slide2,
#slide3 {
    display: none;
}

.amg-button-wit {
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    border: 1px solid white;
    background-color: #000000;
    display: inline-block;
    font-weight: 200;
    margin: 10px 0px;
}

footer section:nth-child(1) {
    background: linear-gradient(to bottom, #262626 0%, #171717 100%);
}

/*form*/
form label {
    display: block;
}

form input[type=text] {
    padding: 5px;
    font-size: 16px;
    background:;
}

input[type=submit] {
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    padding: 5px 13px;
    text-decoration: none;
    border: 1px solid #d9252b;
    background-color: #d9252b;
    display: inline-block;
    font-weight: 200;
    margin: 10px 0px;
}

input[type=submit]:hover {
    border: 1px solid #d9252b;
    background-color: #d9252b;
    box-shadow: 0 0 16px 0 #d9252b;
    color: white !important;
}

form fieldset {
    padding: 20px;
    border: 1px solid red;
}

form {
    display: grid;
    background: linear-gradient(to bottom, #262626 0%, #171717 100%);
}

form fieldset:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
}

form fieldset:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
}

form fieldset:nth-of-type(3) {
    grid-column: 1 / span 2;
    grid-row: 2;
}

/*Tekst*/
main > section:first-of-type h1 {
    font-weight: 200;
    margin: 15px 0px;
    font-size: 2.6em;
}

h2 {
    font-weight: 200;
    margin: 15px 0px;
    font-size: 36px;
    line-height: 36px;
}

h3 {
    font-weight: 200;
    margin: 15px 0px;
}

main > section:nth-of-type(7) h4 {
    color: #999;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
}

main > section:nth-of-type(7) > article > p:nth-of-type(2) {
    text-align: left;
    font-size: 14px;
    margin: 15px 0;
}

p {
    font-weight: 100;
}

p.beschrijving a {
    color: white;
    cursor: pointer;
}

main > section:nth-of-type(3) p {
    color: #a8a8a8;
    text-align: left;
    font-size: 14px;
}

main > section:nth-of-type(3) p a {
    color: white;
    cursor: pointer;
}

main > section:nth-of-type(2) {
    color: #e8e8e8;
    text-align: left;
    font-style: italic;
}

main > section:nth-of-type(2) span {
    color: white;
    font-weight: bold;
}

p.beschrijving {
    color: #a8a8a8;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
}

section  main > section:nth-of-type(4) p:nth-child(2) {
    color: #adadad;
    font-weight: 100;
}

footer section:nth-child(2) p {
    margin: 10px 0px;
}

footer section:nth-child(1) a {
    text-decoration: none;
}

footer section:nth-child(2) a {
    color: white;
}

/*Footer*/
footer section:nth-child(2) {
    font-size: 14px;
}

footer section ul:nth-child(3) li:after {
    content: " | ";
    margin: 0 15px;
}

footer section {
    color: #999999;
    margin-bottom: 0px !important;
}

footer section:nth-child(1) ul li {
    display: inline-block;
}

footer section:nth-child(1) {
    background: linear-gradient(to bottom, #262626 0%, #171717 100%);
    padding: 0 5%;
}

footer section:nth-child(1) ul {
    padding: 20px 0;
    text-align: center;
    margin: auto;
    display: inline-block;
}

footer section:nth-child(1) ul li {
    display: inline-block;
}

footer section ul:nth-child(1) {
    float: left;
    text-align: left;
}

footer section ul:nth-child(2) {
    font-size: 30px;
    color: #999999;
    text-align: right;
}

footer section ul:nth-child(3) {
    color: #999999;
    text-align: right;
}

/*Tekst*/
footer section:nth-child(2) {
    font-size: 14px;
    color: #999999;
    padding: 30px 5%;
    display: inline-block;
}

body > header > div:nth-of-type(2) {
    -webkit-transform: skewX(-23deg);
    transform: skewX(-23deg);
    border-left: 2px solid red;
    height: 80px;
    width: 50px;
}

body > header > div:nth-of-type(2) i {
    -webkit-transform: skewX(23deg);
    transform: skewX(23deg);
    font-size: 30px;
}

body > header > div:nth-of-type(2) a {
    margin: 29px 15px;
    display: block;
    color: #a8a8a8;
}

body > header div:first-of-type {
    width: 30%;
    text-align: end;
    margin-right: 35px;
    height: 100%;
    flex: auto;
}

body > header > div ul:first-of-type {
    margin-top: 10px;
    vertical-align: top;
}

body > header > div > ul > li {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    font-size: 20px;
    color: #a8a8a8;
}

body > header > div > ul > li a {
    color: #a8a8a8;
}

body > header span {
    margin-left: 8px;
    font-size: 14px;
    color: #a8a8a8;
}

@media screen and (min-width:1280px) {
    body > header div:first-of-type {
        width: 70%;
        text-align: end;
        margin-right: 35px;
        height: 100%;
        flex: auto;
    }

    body > header img:first-of-type {
        width: 65%;
        height: 100%;
        margin: auto 0;
        float: left;
    }

    body > header div nav {
        display: inline-block;
        color: white;
    }

    body > header div nav  a {
        color: white;
        font-size: 14px;
    }

    body > header > div:first-of-type  > a:nth-of-type(1) {
        display: none;
    }

    /*Navbar*/
    body > header {
        height: 100px;
        width: 78%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        color: #ffffff;
    }

    header nav {
        margin: auto 0;
    }

    header nav a {
        padding: 7px 10px 7px 27px;
        color: #e5edf4;
        text-decoration: none;
        text-align: right;
        font-weight: 200;
    }

    header nav a:hover {
        background-color: #d9252b;
        border-bottom: 5px solid red;
        color: white !important;
    }

    header nav ul:first-child a:first-child {
        font-size: 15px;
    }

    nav ul {
        list-style: none;
        cursor: default;
        justify-content: flex-end;
        display: flex;
        margin: 15px 0px;
    }

    /**/

    /*main*/
    .amg-button {
        border: none;
        border-radius: 1px;
        color: #fff;
        cursor: pointer;
        padding: 10px;
        text-decoration: none;
        border: 1px solid #d9252b;
        background-color: #d9252b;
        display: inline-block;
        font-weight: 200;
    }

    .amg-button:hover {
        border: 1px solid #d9252b;
        background-color: #d9252b;
        box-shadow: 0 0 16px 0 #d9252b;
        color: white !important;
    }

    footer section:nth-child(2) {
        width: 60% !important;
        margin-left: 7% !important;
    }

}

@media screen and (max-width:1280px) {
    body > header:first-of-type {
        height: 80px;
        width: auto;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    body > header div nav  ul {
        list-style: none;
    }

    body > header div nav  ul li a {
        color: white;
        display: block;
        padding: 14px 31px;
        border-bottom: 1px solid #3c3c3c;
        text-decoration: none;
    }

    header nav {
        margin: auto 0;
    }

    body > header img:first-of-type {
        width: 141px;
        height: 100%;
        margin: auto 0;
        float: left;
    }

    body > header > div:first-of-type > a:nth-of-type(1) {
        font-size: 20px;
        vertical-align: super;
    }

    body > header > div:first-of-type > a:nth-of-type(1) i {
        margin-top: 15px;
    }

    body > header div nav  a:hover {
        background-color: #ddd;
        color: red;
    }

    main > section:nth-of-type(4) {
        margin-bottom: 10px !important;
    }

    main > section:nth-of-type(5) p {
        font-weight: 100;
    }

    main > section:nth-of-type(5) article p,
    main > section:nth-of-type(5) article h3 {
        width: 90%;
        display: inline-block;
        margin-right: 10px;
    }

    main > section:nth-of-type(5) article {
        border-top: 1px solid #494949;
        padding-top: 30px;
        padding-bottom: 30px
    }

}

@media screen and (max-width:1280px) and (min-width:767px) {
    body > header div nav {
        display: none;
        border-top: 6px solid #d9252b;
        font-size: 17px;
        position: fixed;
        top: 80px;
        right: 80PX;
        overflow-x: hidden;
        overflow-y: auto;
        width: 320PX;
        background-color: #1f1f1f;
        text-align: center;
    }

}

@media screen and (min-width:1023px) {
    main > section:nth-of-type(4) footer p {
        display: none;
    }

    main > section:nth-of-type(4) p:first-of-type {
        position: absolute;
        bottom: 70px;
        right: 20px;
        font-size: 14px;
        color: #a8a8a8;
        background: rgba(0, 0, 0, 0.5);
    }

    main > section:first-of-type footer {
        position: absolute;
        width: 100%;
        bottom: 10%;
    }

    main > section:first-of-type footer img {
        display: none;
    }

    #home > main > section:first-of-type {
        background-image: url("../images/gla-45-amg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    main > section:first-of-type div:first-of-type {
        background: linear-gradient(#000, transparent 150px, transparent calc(100% - 150px), #000);
        height: 77vh;
        padding-top: 35px;
        width: 100%;
        display: inline-block;
    }

    main > section:first-of-type article {
        background: rgba(0, 0, 0, 0.7);
        margin-top: 15px;
        margin-left: 10%;
        width: 460px;
        padding: 14px;
    }

    main > section:nth-of-type(6) div {
        background: rgba(0, 0, 0, 0.7);
        margin-top: 15px;
        margin-left: 10%;
        width: 460px;
        padding: 14px;
        position: absolute;
    }

    main > section:nth-of-type(6) div h2 {
        font-size: 48px;
        line-height: 48px;
    }

    main > section:nth-of-type(6) header {
        display: none;
    }

    main > section:first-of-type h1 {
        line-height: 48px;
        margin: 20px 0px;
        font-weight: 200;
    }

    main > section:first-of-type p {
        font-size: 18px;
        margin-top: 15px;
    }

    main > section:nth-of-type(3),
    section:nth-of-type(8) {
        grid-template-columns: repeat(4, minmax(25%, 1fr)) !important;
    }

    main > section:nth-of-type(3) header,
    section:nth-of-type(8) header {
        grid-row: 1;
    }

    main > section:nth-of-type(3) article,
    section:nth-of-type(8) article {
        grid-row: 2;
    }

    article,
    section header,
    main > section:nth-of-type(4) footer p {
        width: 80%;
        margin: auto;
    }

    footer section:nth-child(2) {
        width: 70%;
        margin-left: 3%;
    }

    main > section:nth-of-type(4) {
        width: 80%;
        margin: auto;
        display: block;
        position: relative;
    }

    main > section:nth-of-type(4) p {
        font-size: 18px;
    }

    main > section:nth-of-type(4) h2 {
        font-size: 48px;
        line-height: 48px;
    }

    main > section:nth-of-type(5) a {
        display: none;
    }

    main > section:nth-of-type(4) > div {
        position: absolute;
        width: 60%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        clip-path: polygon(0 0, 100% 0, 30% 100%, 0% 100%);
    }

    main > section:nth-of-type(4) > div > div {
        width: 60%;
        max-width: 440px;
        padding: 25% 0;
    }

    main > section:nth-of-type(7) article {
        display: grid;
        column-gap: 20px;
    }

    main > section:nth-of-type(7) article img {
        grid-column: 1;
        grid-row: 1 / span 10;
    }

    main > section:nth-of-type(7) > article > p:nth-of-type(1) {
        grid-column: 2;
        grid-row: 3 / span 7;
        font-size: 18px;
    }

    main > section:nth-of-type(7) > article > p:nth-of-type(2) {
        grid-column: 1;
        grid-row: 11;
        color: #a8a8a8;
        text-align: left;
        font-size: 14px;
        margin: 15px 0;
    }

    main > section:nth-of-type(7) > article > a:nth-of-type(1) {
        text-align: right;
    }

    main > section:nth-of-type(7) > article > h3 {
        grid-column: 2;
        grid-row: 2;
        font-size: 26px;
    }

    main > section:nth-of-type(7) > article > h4 {
        grid-column: 2;
        grid-row: 1;
    }

    footer section:nth-child(1) {
        display: flex;
    }

    footer section ul {
        width: auto;
    }

    main > section:nth-of-type(5) {
        display: grid;
        grid-column-gap: 15px;
        grid-template-columns: repeat(4, minmax(25%, 1fr));
        padding: 0 10% 2% 10%;
        border-bottom: 1px solid #494949;
    }

    main > section:nth-of-type(5) article {
        margin: unset;
        width: 100%;
    }

}

@media screen and (max-width:1022px) {
    main > section:nth-of-type(6) div {
        display: none;
    }

    main > section:nth-of-type(6) header {
        display: block;
    }

    .schuinvlak {
        padding: 25px 0px;
        width: 80%;
        margin: auto;
    }

    main > section:nth-of-type(4) p:first-of-type {
        display: none;
    }

    footer section ul:nth-child(1) {
        width: 50%;
        float: left;
        text-align: left;
        display: inline-block;
    }

    footer section ul:nth-child(2) {
        font-size: 30px;
        color: #999999;
        width: 50%;
        float: left;
        text-align: right;
        display: inline-block;
    }

    footer section ul:nth-child(3) {
        color: #999999;
        text-align: center;
        width: 100%;
    }

    main > section:nth-of-type(5) article {
        display: grid;
        grid-column-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }

    main > section:nth-of-type(5) img {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    main > section:nth-of-type(5) article h3,
    main > section:nth-of-type(5) article p {
        grid-column: 2 / span 2;
    }

    main > section:nth-of-type(5) a {
        grid-column: 4;
        margin: auto;
        grid-row: 1 / span 2;
        font-size: 30px;
        text-decoration: none;
    }

    .grijs {
        background-color: #202020;
    }

}

@media screen and (min-width:767px) {
    section:nth-of-type(8) article {
        margin: unset;
    }

    main > section:nth-of-type(4) .amg-button-mobile {
        display: none;
    }

    main > section:nth-of-type(3),
    section:nth-of-type(8) {
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        padding: 0 10%;
        row-gap: 1px;
    }

    main > section:nth-of-type(3) header,
    section:nth-of-type(8) header {
        grid-column: 1 / span 2;
    }

    main > section:nth-of-type(3) article,
    main > section:nth-of-type(3) header,
    section:nth-of-type(8) article,
    section:nth-of-type(8) header {
        width: 100%;
    }

}

@media screen and (max-width:766px) {
    body > header div nav {
        display: none;
        border-top: 6px solid #d9252b;
        font-size: 17px;
        position: fixed;
        top: 80px;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        background-color: #1f1f1f;
        text-align: center;
    }

    main > section:nth-of-type(4) h2 {
        width: 85%;
        display: inline-block;
    }

    header:first-of-type span {
        display: none;
    }

    main > section:nth-of-type(5) img {
        display: none;
    }

    main > section:nth-of-type(4) .amg-button-mobile {
        display: inline-block;
        border: none;
        border-radius: 1px;
        color: #fff;
        cursor: pointer;
        padding: 0px 10px;
        text-decoration: none;
        border: 1px solid #d9252b;
        background-color: #d9252b;
        font-weight: 200;
        margin: 10px 0px;
        font-size: 35px;
    }

    main > section:nth-of-type(5) article .amg-button-mobile {
        display: inline-block;
        border: none;
        margin: 10px 0px;
        font-size: 30px;
        vertical-align: top;
        margin: auto;
        text-decoration: none;
    }

    main > section:nth-of-type(4) .amg-button {
        display: none;
    }

    main > section:first-of-type footer img {
        width: 100%;
        height: auto;
    }

    main > section:nth-of-type(4) header {
        width: 90%;
        margin: auto;
        padding: 15px 0px;
    }

    main > section:nth-of-type(4) {
        background-color: #202020;
    }

    main > section:nth-of-type(4) img {
        margin-top: 20px;
    }

    main > section:first-of-type h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 200;
        margin: 15px 0px;
    }

    h2 {
        font-size: 25px;
        line-height: 25px;
        font-weight: 200;
        margin: 15px 0px;
    }

    h3 {
        font-size: 20px;
        line-height: 20px;
        font-weight: 200;
        margin: 15px 0px;
    }

}

@media screen and (max-width:480px) {
    footer section:nth-child(1) {
        background: linear-gradient(to bottom, #262626 0%, #171717 100%);
    }

    footer section:nth-child(1) ul {
        padding: 30px 0;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    footer section:nth-child(1) ul li {
        display: inline-block;
    }

    footer section ul:nth-child(2) {
        font-size: 30px;
        color: #999999;
        border-bottom: 1px solid #494949;
    }

    footer section ul:nth-child(1) {
        border-bottom: 1px solid #494949;
    }

    /*Tekst*/
    footer section:nth-child(2) {
        font-size: 14px;
        color: #999999;
    }

    footer section:nth-child(2) p {
        margin: 10px 0px;
    }

    footer section:nth-child(2) a {
        color: white;
    }

}

@media screen and (max-width:355px) {
    ul.iconmenu li {
        margin-left: 15px;
    }

    body > header div:first-of-type {
        margin-right: 20px;
    }

}